In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
A=[1,2,3,4]
B=[5,6,7,8]
C=[9,0,1,2]
D=[3,4,5,6]
E=[7,8,9,0]

In [19]:
df = pd.DataFrame([A,B,C,D,E],['a','b','c','d','e'],['W','X','Y','Z'])

In [20]:
df

   W  X  Y  Z
a  1  2  3  4
b  5  6  7  8
c  9  0  1  2
d  3  4  5  6
e  7  8  9  0

In [21]:
print('ðŸ˜Š')

ðŸ˜Š

In [22]:
df['P']=df['X']+df['Y']

In [23]:
df

   W  X  Y  Z   P
a  1  2  3  4   5
b  5  6  7  8  13
c  9  0  1  2   1
d  3  4  5  6   9
e  7  8  9  0  17

In [24]:
df.drop('e',inplace=True)

In [25]:
df.drop('c')

   W  X  Y  Z   P
a  1  2  3  4   5
b  5  6  7  8  13
d  3  4  5  6   9

In [27]:
df.drop(columns='X',inplace=True)

In [28]:
df

   W  Y  Z   P
a  1  3  4   5
b  5  7  8  13
c  9  1  2   1
d  3  5  6   9