In [1]:
import numpy as np
import pandas as pd

In [2]:
maasSozluk={"Isimler":["Sülo","Burak","Mert","Batu"],"Departman":["Yazılım","Satis","Pazarlama","Yazılım"],"Maas":[500,200,100,400]}

In [30]:
isimler=["Sülo","Burak","Mert","Batu"]
departman=["Yazılım","Satis","Pazarlama","Yazılım"]
maas=[500,200,100,400],
id_no=[12,15,17,19]

SyntaxError: invalid syntax (Temp/ipykernel_17196/1908169078.py, line 1)

In [32]:
maasDataFrame=pd.DataFrame(maasSozluk)

In [33]:
maasDataFrame

  Isimler  Departman  Maas
0    Sülo    Yazılım   500
1   Burak      Satis   200
2    Mert  Pazarlama   100
3    Batu    Yazılım   400

In [34]:
maasDataFrame["Departman"]

0      Yazılım
1        Satis
2    Pazarlama
3      Yazılım
Name: Departman, dtype: object

In [35]:
maasDataFrame["Departman"].unique()

array(['Yazılım', 'Satis', 'Pazarlama'], dtype=object)

In [36]:
maasDataFrame["Departman"].nunique()

3

In [37]:
maasDataFrame["Departman"].value_counts()

Yazılım      2
Satis        1
Pazarlama    1
Name: Departman, dtype: int64

In [38]:
def bruttenNete(maas):
    return maas*0.66

In [39]:
m=maasDataFrame["Maas"].apply(bruttenNete)

In [40]:
m

0    330.0
1    132.0
2     66.0
3    264.0
Name: Maas, dtype: float64

In [41]:
maasDataFrame.isnull()

   Isimler  Departman   Maas
0    False      False  False
1    False      False  False
2    False      False  False
3    False      False  False

In [ ]:
yeniBirVeri={"Karakter Sınıfı":["South Park","South Park","Simpson","Simpson"],
            "Karakter Ismi":["Cartman","Kelly","Homer","Bart"],
             "Karakter yas":[9,10,50,20]
            }