In [1]:
import numpy as np
import pandas as pd

In [4]:
dataFrame=pd.read_excel("Kitap1.xlsx")

In [5]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  50.0      Satis
2     Mehmet   200  35.0        NaN
3      Ahmet    50  20.0     Finans
4      Atlas   150   NaN  Pazarlama
5      Fatma   300  25.0      Hukuk

In [7]:
doludegerlerDataFrame=dataFrame.dropna()

In [8]:
doludegerlerDataFrame

  Unnamed: 0  Maas   Yas Departman
0       Atıl   100  40.0   Yazılım
1     Zeynep   150  50.0     Satis
3      Ahmet    50  20.0    Finans
5      Fatma   300  25.0     Hukuk

In [9]:
doludegerlerDataFrame.to_excel("yeniKitap.xlsx")

In [10]:
##read_csv
##to_csv