In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
ilkIndeksler=["oda1","oda1","oda1","oda2","oda2","oda2"]

In [11]:
icIndeksler=["batu","merdo","burak","sülo","çato","mami"]

In [12]:
birlesmisIndex=list(zip(ilkIndeksler,icIndeksler))

In [13]:
birlesmisIndex

[('oda1', 'batu'),
 ('oda1', 'merdo'),
 ('oda1', 'burak'),
 ('oda2', 'sülo'),
 ('oda2', 'çato'),
 ('oda2', 'mami')]

In [14]:
birlesmisIndex=pd.MultiIndex.from_tuples(birlesmisIndex)

In [15]:
birlesmisIndex

MultiIndex([('oda1',  'batu'),
            ('oda1', 'merdo'),
            ('oda1', 'burak'),
            ('oda2',  'sülo'),
            ('oda2',  'çato'),
            ('oda2',  'mami')],
           )

In [16]:
benimCizgiFilmlistem=[[40,"A"],[30,"B"],[10,"C"],[9,"D"],[10,"E"],[11,"F"]]

In [17]:
cizgiFilmNumpyDizisi=np.array(benimCizgiFilmlistem)

In [18]:
cizgiFİlmDataFrame=pd.DataFrame(cizgiFilmNumpyDizisi,index=birlesmisIndex,columns=["Yas","Meslek"])

In [19]:
cizgiFİlmDataFrame

           Yas Meslek
oda1 batu   40      A
     merdo  30      B
     burak  10      C
oda2 sülo    9      D
     çato   10      E
     mami   11      F

In [20]:
cizgiFİlmDataFrame.loc["oda2"]

     Yas Meslek
sülo   9      D
çato  10      E
mami  11      F

In [21]:
cizgiFİlmDataFrame.loc["oda2"].loc["sülo"]

Yas       9
Meslek    D
Name: sülo, dtype: object